[submodule "src/unitree_ros2"]
	path = src/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2
[submodule "3rdparties/stream"]
	path = 3rdparties/stream
	url = https://github.com/tuannv-github/stream.git
