[submodule "src/unitree_ros2"]
	path = src/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2
[submodule "src/rtabmap_ros"]
	path = src/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
[submodule "src/go2_robot"]
	path = src/go2_robot
	url = https://github.com/Unitree-Go2-Robot/go2_robot.git
